<configuration>
	<appender name="TEST-TCP-WITH-LOCALNAME" class="com.tyutyutyu.logback.Syslog4jAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%date %-5level %logger{35} - %message%n</pattern>
		</layout>

		<syslogConfig class="org.graylog2.syslog4j.impl.net.tcp.TCPNetSyslogConfig">
			<host>localhost</host>
			<port>45553</port>
			<ident>syslog-test</ident>
			<localName>customLocalName</localName>

			<!-- make logger synchronous for the tests -->
			<threaded>false</threaded>
		</syslogConfig>
	</appender>

	<root level="DEBUG">
		<appender-ref ref="TEST-TCP-WITH-LOCALNAME" />
	</root>
</configuration>