<configuration>
  <appender name="TEST-UDP" class="com.papertrailapp.logback.Syslog4jAppender">
    <layout class="ch.qos.logback.classic.PatternLayout">
      <pattern>%date %-5level %logger{35} - %message%n</pattern>
    </layout>

    <syslogConfig class="org.graylog2.syslog4j.impl.net.udp.UDPNetSyslogConfig">
      <host>localhost</host>
      <port>45553</port>
      <ident>syslog-test</ident>

      <!-- make logger synchronous for the tests -->
      <threaded>false</threaded>
    </syslogConfig>
  </appender>

  <root level="DEBUG">
    <appender-ref ref="TEST-UDP" />
  </root>
</configuration>